<div class="calendar">
    <% @events.each_with_index do |event, index| %>
      <% new_day = event.starts_at.strftime("%j") != @events[index - 1].starts_at.strftime("%j") %>
      <% if new_day %>
        <% if index != 0 %></div><% end %>
        <div class="day">
          <h3>
          <% if event.starts_at.today? %>
            Aujourd'hui
          <% elsif event.starts_at.to_date == Date.tomorrow %>
            Demain
          <% else %>
            <%= l(event.starts_at, format: "%A %d %B %Y") %>
          <% end %>
          </h3>
      <% end %>
        <div class="matiere">
          <span class="date">De <strong><%= (event.starts_at + 2.hours).strftime("%Hh%M") %></strong> à <strong><%= (event.ends_at + 2.hours).strftime("%Hh%M") %></strong></span>
          <p><i class="fa fa-pencil"></i> <%= event.title %></p>
          <p><i class="fa fa-map-marker"></i> <%= event.room %></p>
          <p><i class="fa fa-university"></i> <%= event.teacher %></p>
        </div>
    <% end %>
  </div>
</div>
<script>
  $('.calendar').slick({arrows: false});
</script>